$time_menu_animation: 0.3s;

body{


	&.mobile{
		.off-canvas-left {
			width:80%;
			left:-20%;
		}
		.in-canvas-left-active {
			left:80%;
		}
		.pushRightContentForMenu { 
			-webkit-transition: -webkit-transform 0.3s linear;
			-webkit-transform: translateX(80%);
		}
		.pushLeftContentForMenu { 
			-webkit-transition: -webkit-transform 0.3s linear;
			-webkit-transform: translateX(-80%);
		}
	} 


	&.tablet{
		.off-canvas-left {
			width:40%;
			left:-10%;
		}
		.in-canvas-left-active {
			left:40%;
		}
		.pushRightContentForMenu { 
			-webkit-transition: -webkit-transform 0.3s linear;
			-webkit-transform: translateX(40%);
		}
		.pushLeftContentForMenu { 
			-webkit-transition: -webkit-transform 0.3s linear;
			-webkit-transform: translateX(-40%);
		}
	}	


	.pushRightMenu{ 
			-webkit-transition: -webkit-transform 0.3s linear;
			-webkit-transform: translateX(25%);
	}
	.pushLeftMenu{ 
		-webkit-transition: -webkit-transform 0.3s linear;
		-webkit-transform: translateX(-25%);
	}


	#header{
		#displayLeftPanel{
			-webkit-transition: -webkit-transform 0.3s linear;
			-webkit-transform: rotateY(0deg);
		}
		#displayLeftPanel.ui-state-active{
			-webkit-transition: -webkit-transform 0.3s linear;
			-webkit-transform: rotateY(180deg);
		}
	}

	.off-canvas-left {
		float: left;
		position: fixed;
		border-right: 1px solid #d1d1d1;
		z-index: 1;
		box-sizing:border-box;
	}
	.off-canvas-left-active {
		left: 0 !important;
	}

	.in-canvas {
		margin-top:0em;
		width:100%;
		background: grey;
		float: left;
		position:fixed;
		left:0px;
		z-index:2;
	}
}