$color_header: #eeeeee;
$color_header_border: #acabab;
$color_operationContent: white;

body{
	float:left;
	left:200px;
	margin: 0px;
	background: url(../images/background_tweed.png) repeat;
	//background: white;
	//background: url('../images/test.png') no-repeat;
	font-size:22px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	user-select: none;
	-webkit-user-select: none;

	*:hover, *:active{
		display: none;
	}
	p, h3 {
		margin: 0 !important;
	}
	p{
		text-align:justify;
		margin:1em 0 1em 0 !important;
	}
	.scrollable{
		overflow-y: auto; 
		-webkit-overflow-scrolling: touch;
	}
	.no-touch{
		pointer-events: none;
		overflow: hidden;
		//-webkit-filter:blur(0.1em);
	}
	.canvas{
		display: none;
		.canvas-content{
			-webkit-transform: translateY(0);
			//padding-top:20px;
			padding-top: 61px;
		}
	}

	#container{
		transform:translateY(-50px);
		font-size:0.7em;
		text-align:justify;
		opacity: 1;

		#leftLayer{
			//-webkit-filter:blur(0.1em);
			&.off-canvas-left {
				float: left;
				position: fixed;
				border-right: 1px solid #d1d1d1;
				z-index: 1;
				box-sizing:border-box;
			}
			&.off-canvas-left-active {
				left: 0 !important;
				//-webkit-filter:blur(0);
			}
			ul#menu{
				padding:0;
				margin:0;
				list-style: none;
				//background: white;
				padding-left: 15px;
				padding-right: 15px;
				li.menu-element{
					width: 100%;
					height: 44px;
					clear: both;
					margin-bottom: 4px;
					margin-top: 2px;
					margin-left: 3px;
					&:active{
						opacity: 0.1;
					}
					&.home-item{
						.icon{
							background: #F5F5F5	url(../images/icons/802-dog-house@2x.png) center no-repeat;
							background-size: 24px;
						}
					}
					&.map-item{
						.icon{
							background: #F5F5F5	url(../images/icons/852-map@2x.png) center no-repeat;
							background-size: 24px;
						}
					}
					&.camera-item{
						.icon{
							background: #F5F5F5	url(../images/icons/714-camera@2x.png) center no-repeat;
							background-size: 24px;
						}
					}
					&.graphic-item{
						.icon{
							background: #F5F5F5	url(../images/icons/858-line-chart@2x.png) center no-repeat;
							background-size: 24px;
						}
					}
					&.money-item{
						.icon{
							background: #F5F5F5	url(../images/icons/827-money-2@2x.png) center no-repeat;
							background-size: 24px;
						}
					}
					&.user-item{
						.icon{
							background: #F5F5F5	url(../images/icons/769-male@2x.png) center no-repeat;
							background-size: 24px;
						}
					}
					&.configuration-item{
						.icon{
							background: #F5F5F5	url(../images/icons/740-gear@2x.png) center no-repeat;
							background-size: 24px;
						}
					}
					.icon{
						width: 40px;
						min-height: 40px;
						float: left;
						border-radius: 2em;
					}
					
					.content{
						vertical-align: middle;
						border-bottom: 1px solid #F5F5F5;
						min-height: 44px;
						position: relative;
						padding-left: 15px;
						box-sizing: border-box;
						padding-top: 10px;

						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;
						word-wrap: normal;

						color: white;
					}
				}
			}
		}
		#centerLayer{
			box-shadow: -2px 0px 16px rgba(50,50,50,1);
			&.in-canvas {
				margin-top:0em;
				width:100%;
				background: grey;
				float: left;
				position:fixed;
				left:0px;
				z-index:2;
			}
			#header{
				height: 65px;
				width: 100%;
				background: $color_header;
				border-bottom: 1px solid $color_header_border;
				box-sizing: border-box;
				padding-top: 0 !important;
				#title{
					padding-top: 1.6em;
					font-size: 1.2em;
					font-weight: 600;
					float: left;
					text-align: center;
					width: 100%;
				}
				#displayLeftPanel{
					background: url(../images/icons/766-arrow-right@2x.png) no-repeat 10px 33px;
					height: 65px;
					width: 36px;
					float: left;
					position: absolute;
					background-size: 10px;
					box-sizing: border-box;
				}
			}
			.alert{
				display: none;
			}
			#operationContent{
				width: 100%;
				padding: 0 15px 0 15px;
				float:left;
				background:$color_operationContent;
				.first{
					margin-top:30px;
				}
			}
			#footer {
				height: 45px;
				width:100%;
				position: absolute;
				right: 0;
				bottom: 0;
				left: 0;
				background: $color_header;
				border-top: 1px solid $color_header_border;
				box-sizing:border-box;
				ul.footer-elements{
					list-style: none;
					width: 100%;
					padding: 0.2em 0 0 0;
					li.footer-element{
						float:left;
						width:33.33%;
						.icon{
							height: 25px;
						}
						.content{
							text-align: center;
							font-size: 0.8em;
							color:black;
						}
						&:active{
							opacity: 0.1;
						}
						.active{
							.content{
								color:blue;
							}
						}
						&.option1{
							.icon{
								background: url(../images/icons/notused/851-calendar@2x.png) center no-repeat;
								background-size: 24px;
							}
						}
						&.option2{
							.icon{
								background: url(../images/icons/notused/815-car@2x.png) center no-repeat;
								background-size: 24px;
							}
						}
						&.option3{
							.icon{
								background: url(../images/icons/notused/762-shopping-bag@2x.png) center no-repeat;
								background-size: 24px;
							}
						}
					}
				}
			}

		}
	}
}
.oldPage{
	visibility: hidden;
	float: left;
}
.currentPage{

}
.newPage{
	visibility: hidden;
	float: left;
}