$color_header: #eeeeee;
$color_header_border: #acabab;
$color_operationContent: white;

body{
	float:left;
	left:200px;
	margin: 0px;
	background: url(../images/background_tweed.png) repeat;
	background: white;
	//background: url('../images/test.png') no-repeat;
	font-size:22px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	user-select: none;
	-webkit-user-select: none;

	*:hover, *:active{
		display: none;
	}
	p, h3 {
		margin: 0 !important;
	}
	.scrollable{
		overflow-y: auto; 
		-webkit-overflow-scrolling: touch;
	}
	.no-touch{
		pointer-events: none;
		overflow: hidden;
		//-webkit-filter:blur(0.1em);
	}
	.canvas .canvas-content{
		-webkit-transform: translateY(0);
		padding-top:20px;
	}

	#container{
		transform:translateY(-50px);
		font-size:0.7em;
		text-align:justify;
		opacity: 1;

		#leftLayer{
			&.off-canvas-left {
				float: left;
				position: fixed;
				border-right: 1px solid #d1d1d1;
				z-index: 1;
				box-sizing:border-box;
			}
			&.off-canvas-left-active {
				left: 0 !important;
			}
			ul#menu{
				padding:0;
				margin:0;
				list-style: none;
				background: white;
				padding-left: 15px;
				padding-right: 15px;
				li.menu-element{
					width: 100%;
					height: 44px;
					clear: both;
					margin-bottom: 4px;
					.icon{
						width: 40px;
						min-height: 40px;
						background: #F5F5F5	url(../images/icons/769-male@2x.png) center no-repeat;
						float: left;
						border-radius: 2em;
						background-size: 46px;
					}
					.content{
						vertical-align: middle;
						border-bottom: 1px solid #F5F5F5;
						min-height: 44px;
						position: relative;
						padding-left: 15px;
						box-sizing: border-box;
						padding-top: 10px;

						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;
						word-wrap: normal;
					}
				}
			}
		}
		#centerLayer{
			box-shadow: -2px 0px 16px rgba(50,50,50,0.3);
			&.in-canvas {
				margin-top:0em;
				width:100%;
				background: grey;
				float: left;
				position:fixed;
				left:0px;
				z-index:2;
			}
			#header{
				height: 65px;
				width: 100%;
				background: $color_header;
				border-bottom: 1px solid $color_header_border;
				box-sizing: border-box;
				padding-top: 0 !important;
				#title{
					padding-top: 1.6em;
					font-size: 1.2em;
					font-weight: 600;
					float: left;
					text-align: center;
					width: 100%;
				}
				#displayLeftPanel{
					background: url(../images/icons/766-arrow-right@2x.png) no-repeat 10px 33px;
					height: 65px;
					width: 36px;
					float: left;
					position: absolute;
					background-size: 10px;
					box-sizing: border-box;
				}
			}
			#operationContent{
				padding: 0 15px;
				float:left;
				background:$color_operationContent;
			}
			#footer {
				height: 45px;
				width:100%;
				position: absolute;
				right: 0;
				bottom: 0;
				left: 0;
				background: $color_header;
				border-top: 1px solid $color_header_border;
				box-sizing:border-box;
			}

		}
	}
}